@import "azure-devops-ui/Core/_platformCommon.scss";

.dialog {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    display: flex;
}

.label {
    margin-bottom: 10px;
    color: $neutral-70;
}

.dialog .footer {
    justify-content: flex-end;
    display: flex;
}

.dialog .footer button {
    margin-left: 10px;
}

.content {
    -no-op: noop;
}
