@import "azure-devops-ui/Core/_platformCommon.scss";

.page {
    background-color: inherit;
}

.blocked {
    color: $status-error-text;
}

.allowed {
    color: $status-success-text;
}

.explaination {
    margin-top: 1.5rem;
}
