@import "azure-devops-ui/Core/_platformCommon.scss";

.page {
    background-color: inherit;
}

.rule-input {
    font-family: monospace;
}

.blocked {
    color: #c62828;
}

.allowed {
    color: #388e3c;
}

.explaination {
    margin-top: 1.5rem;
}
