/* source: https://github.com/jimlamb/bowtie/blob/master/style.css 
   and: https://codepen.io/team/Bowtie/details/gPLPNx
*/
@font-face {
    font-family: 'Bowtie';
    src: url('./bowtie.woff?2') format('woff');
}

.bowtie-icon {
    margin-right: 5px;
    font-family: 'Bowtie';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 14px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bowtie-math-plus:before {
	content: "\E970";
}

.bowtie-edit-delete:before {
	content: "\E94F";
}


