@import "azure-devops-ui/Core/_platformCommon.scss";

.la-item {
    padding: 4px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.la-item-wrapper {
    flex: 1
}

.la-primary-data {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1px;
}

.la-primary-icon {
    float: left;
    width: 20px;
    height: 20px;
    padding-left: 1px;
}

.la-additional-data {
    margin-left: 20px;
}

.la-additional-data-item {
    color: rgba(0, 0, 0, .55);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: top;
}

.la-additional-data-item .la-text {
    display: inline;
    vertical-align: top;
}

.la-document-delete {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: initial;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
}

.la-item:hover {
    background-color: $communication-tint-30;
}

.la-item .la-document-delete i {
    color: transparent;
}

.la-item:hover .la-document-delete i {
    color: black;
}

.la-document-delete:hover i {
    color: rgba(218, 10, 0, 1) !important;
    transition: color linear .1s;
    cursor: pointer;
}

.button-container {
    margin-bottom: 5px;
}

.add-document {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: initial;
    border-radius: 0;
    outline: none;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    writing-mode: horizontal-tb !important;
}

.add-document:hover {
    background-color: $communication-tint-30;
}

.add-document i {
    color: rgba(16, 124, 16, 1);
}
