@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.document-hub {
    font-size: $fontSizeM;
    padding: 5px 5px 0 14px;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}