#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    min-height: 1px; //we need at least one pixel to make auto-height work
}

body {
    overflow: hidden;
}