@import "azure-devops-ui/Core/override.css";

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /*we need at least one pixel to make 'SDK.resize()' work */
    min-height: 1px;
    margin-left: 4px;
}

body {
    overflow: hidden;
}
